.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}

.navbar__logo {
  font-weight: 500;
  font-size: 17px;
  margin: 15px 0 60px 0;
}

.navbar__add-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
  border: 3px solid white;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s, font-size 0.3s, width 0.3s, height 0.3s;
  cursor: pointer;
}

.navbar__add-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 29px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__logo {
    margin: 15px;
  }

  .navbar__content {
    padding-right: 15px;
  }
}
