.new-export-form {
  background-color: #696969;
  color: white;
  padding: 35px;
}

.new-export-form input {
  height: 28px;
  width: 100%;
}

.new-export-form button {
  min-width: 100px;
  min-height: 40px;
  background-color: white;
  border-radius: 9px;
  border-style: outset;
  font-weight: 400;
  padding: 15px;
  margin-top: 50px;
}

.new-export-form button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.new-export-form button:active {
  border-style: inset;
}

@media only screen and (max-width: 600px) {
  .new-export-form button {
    width: 100%;
  }
}
