.export-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  border-bottom: solid 1px black;
}

.export-template * {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
}
